.filterButton {
  border: 2px solid purple;
  background: white;
  color: purple;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.filterButton + .filterButton {
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.filterButton.active {
  background: purple;
  color: white;
}
