.container {
  overflow: hidden;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.button {
  background: $background;
  color: black;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 18px;
  padding: 8px 10px;
  border: 1px solid #999;

  &:first-child {
    border-radius: 5px 0 0 5px;
  }

  & + & {
    border-left: 0px;
  }

  &:last-child {
    border-radius: 0 5px 5px 0;
  }
}

.button:hover {
  background: $active;
  border-color: $active;
  color: white;
}
