.container {
  border: 2px solid purple;
  border-radius: 10px;
  overflow: hidden;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.button {
  background: white;
  color: purple;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 18px;
}

.button + .button {
  border-left: 2px solid purple;
}

.button:hover {
  background: purple;
  color: white;
  opacity: 0.5;
}

.button.active:hover {
  opacity: 0.8;
}

.button.active {
  background: purple;
  color: white;
}
