.header {
  display: flex;
  flex-flow: row;
  align-items: center;

  h1 {
    flex: 1;
    margin-right: $spacing-medium;
  }
}

.sectionHeader {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing-small;
  margin-top: $spacing-medium;

  hr {
    flex: 1;
    border: 1px solid $line;
  }

  small {
    margin-left: $spacing-small;
    background: $line;
    color: white;
    padding: 2px 8px;
    border-radius: $radius;
    font-size: 10px;
  }
}
