.header {
  margin: $spacing-medium 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header ul {
  flex: 1;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
}

.header ul li a {
  text-decoration: none;
}

.header ul li a.active {
  color: $active;
}

.header ul li a:hover {
  color: $active;
  border-bottom: 2px solid $active;
  padding-bottom: 3px;
}

.header ul li + li {
  margin-left: $spacing-small;
}

.name {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.name:hover {
  color: $active;
}

.main {
  flex: 1;
}

.footer {
  text-align: center;
  border-top: 1px solid $line;
  margin: 40px 10%;
  padding-top: $spacing-medium;
}

.footer ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer ul li + li {
  margin-left: $spacing-medium;
}

.footerTwitter {
  border-radius: 50%;
  padding: 6px;
  width: 30px;
  height: 30px;
  display: inline-block;
  box-sizing: border-box;
  background: $text-color;

  svg {
    width: 100%;
    height: 100%;
  }

  path {
    fill: $background;
  }

  &:hover {
    background: $active;
  }
}

.footerGithub,
.footerProductHunt,
.footerLinkedIn {
  svg {
    height: 30px;
  }

  &:hover path {
    fill: $active;
  }
}
