@import 'styles/media.css';

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: $spacing-medium;

  @media (--mobile) {
    margin-right: 0;
    margin-bottom: $spacing-medium;
  }
}

.container {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: $spacing-medium;

  @media (--mobile) {
    flex-flow: column;
  }
}
