.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.paragraph {
  font-size: 18px;
  line-height: 24px;

  a {
    font-weight: 700;
  }

  ul {
    list-style: disc;
    padding-left: 20px;

    li {
      margin-top: 8px;
    }
  }
}
