.item {
  display: flex;
  flex-flow: row;
  align-items: center;

  & + & {
    margin-top: $spacing-small;
  }
}

.content {
  flex: 1;
}

.event:hover {
  text-decoration: none;
}

.links {
  margin-left: $spacing-medium;
}

.typeIcon {
  width: 40px;
  margin-right: $spacing-small;
}

.link + .link {
  margin-left: spacing-small;
}

.linkIcon {
  height: 20px;

  &:hover path {
    fill: $active;
  }
}
