.cover {
  max-width: 100%;
  border-radius: $radius;
}

.year {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $text-color;
  color: $background;
  height: 60px;
  width: 60px;
  min-height: 60px;
  min-width: 60px;
  border-radius: 50%;
  font-weight: bold;
}

.continue {
  text-align: center;
}
