html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  min-width: 320px;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

body {
  background: $background;
  font-size: 16px;
  color: $text-color;
  border-top: 10px solid $active;
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

#__next {
  display: flex;
  flex-flow: column;
  flex: 1;
  height: 100%;
  margin: 0 auto;
  max-width: 800px;

  padding-left: $spacing-medium;
  padding-right: $spacing-medium;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
